<div class="row">
  <div class="col-md-12">
    <h1>
      <%= ab_test 'header_title', 'Landing page', 'Landing pages for FREE', 'Your first landing page in seconds!' %>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= render 'contacts/form' %>
  </div>
</div>